src/data/rooms.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rooms">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="room">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="surname" type="xs:string" />
              <xs:element name="price" type="xs:decimal" />
              <xs:element name="sale" type="xs:decimal" />
              <xs:element name="number" type="xs:unsignedShort" />
              <xs:element name="countOfRoom" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>